@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-gray-200 min-h-screen;
  }
}

.neomorph-text {
  color: rgb(229 231 235);
  font-size: 8em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(0, 0, 0, 0.5),
    6px -6px 15px rgba(255, 255, 255, 0.8);
  position: relative;
}

.neomorph-text::before,
.neomorph-text::after {
  position: absolute;
  background: rgb(229 231 235);
  content: '';
  border-radius: 10%;
}
